<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/pages/frontpage/frontpage.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <title>Mandatory Project</title>
</head>
<body>
    <nav class="navbar">
        <a href="/">Frontpage</a>
        <div class="navElse"> 
        <a href="/aboutExpress">Express</a>
        <a href="/aboutNode">Node</a>
        <a href="/aboutNpm">Npm</a>
        <a href="/aboutNodemon">Nodemon</a>
        <a href="/aboutHeroku">Heroku</a>
        <a href="/aboutSSR">SSR</a>
        </div>
     </nav>
